*{
    margin: 0px;
}
#message{
    margin-left: 10px;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}
#form{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 5px;
    
    padding: 20px;
    background-color: aquamarine;
    width: 100vw;
    box-shadow: 10px 10px 5px lightblue;
    height: 20%;
    display: flex;
    flex-direction: column;
}
.chat{
    
    
    
    margin-top:5px ;
    background-color: rgb(163, 215, 247);
    font-size: 20px;
   
}

.top{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    color: white;
    font-size: 30px;
}
.top span{
    color: red;
}
.con{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 20px;
    width: 80%;
    
}
.con input{
    margin: 10px;
    height: 30px;
    width: 70%;
    
}
.con button{
    margin: 10px;
    height: 30px;
    width: 70px;
    background-color: lightseagreen;
    color: white;
    font-size: 20px;
}